<!DOCTYPE html>
<html>
    <head>
    
        <link rel="stylesheet" href=select.css>
</head>
<body>

<h1>Zeffy's Library</h1>

<form action="/action_page.php" method="get">
  <label for="books">Check Out BOOKS available on Zeffy's Library:</label>
  <input list="books available" name="books" id="books">
  <datalist id="books available">
    <option value="Eeny Meeny">
    <option value="Dead Simple">
    <option value="In Blackhawk's Bed">
    <option value="Gallow View">
    <option value="Percy Jackson The Lightening Thief">
    <option value="The Book Thief">
  </datalist>
  <input type="submit">
</form>

<p><strong>Note:</strong> The datalist tag is not supported in Safari 12.0 (or earlier).</p>

</body>
</html>



