<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="stylesheet" href="../public/html/select.css">  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <style>
            body {
                background-color: lightblue;
            }
            </style>
</head>
<body>

<h1>Zeffy's Library</h1>

<form action="/action_page.php" method="get">
  <label for="books">Check Out BOOKS available on Zeffy's Library:</label>
  <input list="books available" name="books" id="books">
  <datalist id="books available">
    <option value="Eeny Meeny">
    <option value="Dead Simple">
    <option value="In Blackhawk's Bed">
    <option value="Gallow View">
    <option value="Percy Jackson The Lightening Thief">
    <option value="The Book Thief">
  </datalist>
  <input type="submit">
</form>

<p><strong>Note:</strong> The datalist tag is not supported in Safari 12.0 (or earlier).</p>
<div class="todo-image">
<img src="../public/images/book.jpg" width="500" height="333">
</div>


</body>
</html>



