  /* .book-image {
      width: 64%;
      text-align: center;
      overflow: hidden;
  }

  .book-image img {
      width: 88%;
  }
  body {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  } */